# Kafka Service
apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  ports:
    - name: external
      port: 9092
      targetPort: 29092
    - name: external-2
      port: 29092
      targetPort: 29092
    - name: internal
      port: 9091
      targetPort: 9091
    - name: controller
      port: 9093
      targetPort: 9093
  selector:
    app: kafka

---
# Kafka Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      enableServiceLinks: false
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:8.1.0
          ports:
            - containerPort: 29092
              name: external
            - containerPort: 9091
              name: internal
            - containerPort: 9093
              name: controller
          env:
            - name: CLUSTER_ID
              value: "ZETVJENWRjaECDUEExP_eg"
            - name: KAFKA_NODE_ID
              value: "0"
            - name: KAFKA_PROCESS_ROLES
              value: "broker,controller"
            - name: KAFKA_LISTENERS
              value: "INTERNAL://:9091,EXTERNAL://:29092,CONTROLLER://:9093"
            - name: KAFKA_CONTROLLER_QUORUM_VOTERS
              value: "0@kafka:9093"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "INTERNAL://kafka:9091,EXTERNAL://kafka:29092"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
            - name: KAFKA_CONTROLLER_LISTENER_NAMES
              value: "CONTROLLER"
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "INTERNAL"
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "1"
          resources:
            limits:
              cpu: "0.3"
              memory: "800Mi"
            requests:
              cpu: "0.1"
              memory: "400Mi"
